<h1>
	This is the container with id #<%= @container.id %>.
</h1>

<p>
	<strong>Title:</strong>
	<%= @container.title %>
</p>

<p>
	<strong>Text:</strong>
	<%= @container.text %>
</p>

<%= link_to "Back to Index", containers_path() %>
